.card-avatar:hover {
    transform: translateY(-5px); /* Menggeser elemen ke atas saat hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animasi transisi */
}

.card-avatar {
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Animasi transisi saat tidak di-hover */
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.gallery-item img {
    transition: transform 0.3s ease; /* Efek transisi saat hover */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Membesarkan gambar saat hover */
}
